# Projeto 1 - Ci√™ncia dos Dados

Nome: Matheus Freitas Sant'Ana

Nome: Gabriel Salvator Benatar

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [241]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [242]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
C:\Users\matfs\Desktop\Ci√™ncia dos Dados\P2\P1-Classificador-Naive-Bayes

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [243]:
dados = pd.read_excel('Uber.xlsx')
dados['Classe'] = dados.Classe.astype('category')

In [244]:
dados['Classe'].cat.categories = ['Irrelevante', 'Relevante']

In [245]:
dados.tail(10)

                                           Treinamento       Classe
290  a√≠ que pregui√ßa desse uber machista/xenof√≥bico...    Relevante
291        eu preciso muito parar de andar de uber mds  Irrelevante
292  @catarinalegal pegar uns uber mais estranhos t...  Irrelevante
293  @moisesstocco @wilsondenotari @valdecirdelecl1...  Irrelevante
294  vontade de comer um lanche e nem uma lanchonet...  Irrelevante
295  a pronto o uber ta tocando uma sofr√™ncia braba...  Irrelevante
296       @_diana_mota_ acho que vais ser o meu uberüòÇüëå  Irrelevante
297  muito bom esse novo recurso da uber do motoris...    Relevante
298             mood: conversando em ingl√™s com o uber    Relevante
299  mo burocracia p eu conseguir sair da escola de...  Irrelevante

In [246]:
dados.Classe.value_counts()

Irrelevante    212
Relevante       88
Name: Classe, dtype: int64

H√° muito mais tweets irrelevantes do que relevantes. Vamos tentar deixar a quantidade mais ou menos parecida.

In [247]:
dados_irr = dados.loc[dados.Classe == 'Irrelevante', :]
dados_irr = dados_irr.loc[:130, :]

In [248]:
dados_irr.Classe.value_counts()

Irrelevante    88
Relevante       0
Name: Classe, dtype: int64

In [249]:
dados_r = dados.loc[dados.Classe == 'Relevante', :]

In [250]:
dados_r.Classe.value_counts()

Relevante      88
Irrelevante     0
Name: Classe, dtype: int64

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [251]:
import re 


def cleanup(text):
    """
        Fun√ß√£o de limpeza muito simples que troca alguns sinais b√°sicos por espa√ßos
    """
    #import string
    punctuation = '[!-.:?;@]' # Note que os sinais [] s√£o delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, ' ', text)
    return text_subbed

In [252]:
for i in range(len(dados['Treinamento'])):
    dados['Treinamento'][i] = cleanup(dados['Treinamento'][i].lower())

C:\Users\matfs\Downloads\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [368]:
dados.head()

                                         Treinamento       Classe
0  pior coisa √© ouvir de gente privilegiada que a...  Irrelevante
1  eu morrendo de calor e o uber geladinho tudo q...  Irrelevante
2  to lembrando aqui do dia em que a mairine e a ...  Irrelevante
3   lucasp711 to cortando o cabelo  se ainda tive...  Irrelevante
4  rt  jungsbloomie  acabei o dinheiro da semana ...  Irrelevante

In [362]:
dados_irr = dados.loc[dados.Classe == 'Irrelevante', :]
dados_irr = dados_irr.loc[:130, :]

In [370]:
dados_r = dados.loc[dados.Classe == 'Relevante', :]

In [371]:
for i in range(len(dados_r.index.values)):
    dados_r.index.values[i] = i

In [375]:
for i in range(len(dados_irr.index.values)):
    dados_irr.index.values[i] = i

In [381]:
todas_palavras_irrelevante = []
for i in range(len(dados_irr.Treinamento)):
    todas_palavras_irrelevante.append(dados_irr['Treinamento'][i].split())
todas_palavras_r[:5]

['rt', 'leandra_bdz', 'meninas', 'um', 'uber']

In [380]:
todas_palavras_irr = []
for i in range(len(todas_palavras_irrelevante)):
    for j in range(len(todas_palavras_irrelevante[i])):
        todas_palavras_irr.append(todas_palavras_irrelevante[i][j])
todas_palavras_irr[:5]

['pior', 'coisa', '√©', 'ouvir', 'de']

In [385]:
serie_Irr = pd.Series(todas_palavras_irr)
serie_Irr.head()

0     pior
1    coisa
2        √©
3    ouvir
4       de
dtype: object

In [386]:
todas_palavras_relevante = []
for i in range(len(dados_r.Treinamento)):
    todas_palavras_relevante.append(dados_r['Treinamento'][i].split())

In [387]:
todas_palavras_r = []
for i in range(len(todas_palavras_relevante)):
    for j in range(len(todas_palavras_relevante[i])):
        todas_palavras_r.append(todas_palavras_relevante[i][j])
todas_palavras_r[:5]

['rt', 'leandra_bdz', 'meninas', 'um', 'uber']

In [388]:
serie_r = pd.Series(todas_palavras_r)
serie_r.head()

0             rt
1    leandra_bdz
2        meninas
3             um
4           uber
dtype: object

In [389]:
tabela_r = serie_r.value_counts()
tabela_r.head()

uber    84
de      61
e       51
que     42
o       41
dtype: int64

In [390]:
tabela_irr = serie_Irr.value_counts()
tabela_irr.head()

uber    85
o       52
de      44
e       42
que     36
dtype: int64

In [391]:
tabela_relativa_r = (serie_r.value_counts(True)*100).round(2)
tabela_relativa_r.head()

uber    4.73
de      3.43
e       2.87
que     2.36
o       2.31
dtype: float64

In [392]:
tabela_relativa_irr = (serie_Irr.value_counts(True)*100).round(2)
tabela_relativa_irr.head()

uber    4.96
o       3.03
de      2.57
e       2.45
que     2.10
dtype: float64

In [393]:
todas_palavras_v1 = []
for i in range(len(dados.index.values)):
    todas_palavras_v1.append(dados.Treinamento[i].split())

In [394]:
todas_palavras = []
for i in range(len(todas_palavras_v1)):
    for j in range(len(todas_palavras_v1[i])):
        todas_palavras.append(todas_palavras_v1[i][j])
todas_palavras[:5]

['pior', 'coisa', '√©', 'ouvir', 'de']

In [395]:
serie_todas = pd.Series(todas_palavras)
serie_todas.head()

0     pior
1    coisa
2        √©
3    ouvir
4       de
dtype: object

In [396]:
tabela_todas = serie_todas.value_counts()
tabela_todas.head()

uber    285
de      166
o       159
e       145
que     107
dtype: int64

In [397]:
tabela_relativa_todas = (serie_todas.value_counts(True)*100).round(2)
tabela_relativa_todas.head()

uber    4.96
de      2.89
o       2.77
e       2.53
que     1.86
dtype: float64

In [418]:
def naive_bayes(frase, tabela_relativa_r, tabela_relativa_irr):
    
    frase = cleanup(frase.lower())
    lista_palavras = frase.split()
    
    totalR = tabela_r.value_counts().sum()
    totalIrr = tabela_irr.value_counts().sum()
    total = totalR + totalIrr
    probR = totalR/total
    probIrr=totalIrr/total
    
    probFraseDadoR = 100
    for i in lista_palavras:
        if i in tabela_relativa_r:
            probFraseDadoR *= tabela_relativa_r['{}'.format(i)]
        else:
            probFraseDadoR *= 0.005
        
    probFraseDadoIrr = 100
    for i in lista_palavras:
        if i in tabela_relativa_irr:
             probFraseDadoIrr *= tabela_relativa_irr['{}'.format(i)]
        else:
            probFraseDadoIrr *= 0.005
            
    probRDadoFrase = probFraseDadoR*probR
    probIrrDadoFrase = probFraseDadoIrr*probIrr
    
    if probRDadoFrase > probIrrDadoFrase:
        return('Relevante')
    else:
        return('Irrelevante')

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [423]:
naive_bayes('', tabela_relativa_r, tabela_relativa_irr)

'Relevante'

___
### Concluindo

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que periodicamente realiza an√°lise de sentimento e visualiza estes dados

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**